body{
    margin: 0;
    padding: 0; 
    background-image: url("../img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    /* background-color: rgba(233,74,39,1); */
    background-color: rgba(19,41,75,1);
}


.wrapper{
    width: 100%;
}

.box{
    width: 400px;
    
    background: rgba(19,41,75,0.4);
    padding: 40px;
    backdrop-filter: blur(3px);
    text-align: center;
    margin: auto;
    margin-top: 10%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}

@media only screen and (max-width: 767px){
    body{
        background-image: url("../img/bg-mobile.jpg");
    }
    .box{
        width: 100%;
        padding: 5%;
        margin-top: 15%;
    }
    
}

@media only screen and (max-width: 1024px){
    .box{
        width: 320px
    }
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box p{
    text-align: center;
}

ul{
    margin: 0;
    padding: 0;
}

.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a{
    color: white;
    text-decoration: none;
    font-size: 50px;
    transition: all ease-in-out 250;
}

.box li a:hover{
    color: rgba(233,74,39,1);
}