@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "bebas-neue";
  src: url("../../public/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "mark-pro";
  src: url("../../public/Mark-Pro.ttf");
}
